* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #40a8ee 50%, #199cf3 50%);
}

.container {
    position: relative;
    background: #ffffff;
    border-radius: 30px;
    width: 700px;
    height: 340px;
    padding: 30px;
    text-align: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .1);
}

.container h1 {
    letter-spacing: 1px;
}

.container .progress {
    display: flex;
    width: 100%;
    margin: 50px auto;
}

.progress h6 {
    margin-top: -6px;
    font-size: 18px;
    letter-spacing: 1px;
}

.progress .progress-bar {
    position: absolute;
    left: 150px;
    width: 60%;
    height: 15px;
    border-radius: 30px;
    background: #e2e2e2;
}

.progress .progress-bar .progressing {
    width: 0;
    height: 100%;
    background: #ff0055;
    border-radius: 30px;
}

.progress .progress-bar .circle {
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 6px solid #ff0055;
    border-radius: 50%;
    transform: translateY(-20px) translateX(-10px);
}

.progress .percent {
    position: absolute;
    right: 40px;
    margin-top: -12px;
    font-size: 24px;
}